/********************Overall CSS*************************/
*{
	margin: 0;
	padding: 0;
	font-family: calibri light;
	color: white;

}
body{
	background-color: black;
	overflow-x: hidden;
}
body a{
	color: white;
}
/***************************************************Desktop CSS*******************************************************/
@media screen and (orientation:landscape) {
	/********************Header CSS*************************/
	.header .hamburger{
		display:none;
	}
	.header .name_mobile{
		display: none;
	}
	.header{
		position: fixed;
		z-index:2;
		color: white;
		min-width: 100%;
		background-color: transparent;
		border-bottom: solid white 1px;
		-webkit-transition: all ease-out .35s;
		-moz-transition: all ease-out .35s;
		-o-transition: all ease-out .35s;
		transition: all ease-out .35s;
	}
	.header.active{
		background-color: #000000bb;
		-webkit-transition: all ease-out .35s;
		-moz-transition: all ease-out .35s;
		-o-transition: all ease-out .35s;
		transition: all ease-out .35s;
	}
	.header .name{
		float:left;
		color: white;
		text-decoration: none;
		font-size: 40px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header .name a{
		vertical-align: middle;
	}
	.header a:hover{
		color: #dddddd;
		text-decoration: none;
	}
	.header a{
		color: white;
		text-decoration: none;
	}
	.header .menu2{
		float:right;
		vertical-align: middle;
		text-align: end;
		padding-top: 20px;
	}
	.header .menu2 ul li {
		display: inline;
		font-size: 20px;
		padding-right: 20px;
	}
	/********************Intro CSS*************************/
	#intro{
		position:relative;
		z-index:1;
		height: 100%;
		background-color: black;
		color: white;
	}
	#intro img{
		position: absolute;
		left: -9999px;
		right: -9999px;
		margin: auto;
		height: 100%;
		opacity: 0.35;

	}
	#intro .text{
		position: absolute;
		width:100%;
		top: 45vh;
		left: 50%;
		transform: translate(-50%, -40%);
		font-size: 7.5vh;
		text-align: center;
	}
	#intro .subtext{
		position: absolute;
		width:100%;
		padding-top: 120px;
		top: 45vh;
		left: 50%;
		transform: translate(-50%, -47%);
		font-size: 30px;
		text-align: center;  
	}
	/********************About Me CSS*************************/
	#about_me{
		padding-top: 70px;
		max-width: 100%;
	}
	#about_me .body{
		background-color: #007fba;
		height: auto;
		max-width: 100%;
  		margin: 0 auto;
		display: flex;
  		justify-content: center;
  		align-items: center;
		padding: 25 25vmax 70 25vmax; 
	}
	#about_me .title{
		font-size: 50px;
		text-align: center;
		background-color: #007fba;
		padding:70 0 0 0;
	}
	#about_me .body .portrait{
		display: inline-block;
		padding:0px 0px 0px 0px;
		height:300;
	}
	#about_me .body .text{
		display: inline-block;
		padding: 0 0 0 100;
		text-align: center;
		font-size: 20px;
	}
	/********************Projects CSS*************************/
	#projects{
		max-width: 100%;
  		margin: 0 auto;
		padding:70 0 70 0;
	}
	#projects .body{
		max-width: 100%;
		margin: 0 auto;
		padding: 70 0 0 0;
	}
	#projects .title{
		font-size: 50px;
		text-align: center;
	}
	#projects .subtitle{
		font-size: 35px;
		text-align: center;
	}
	#projects .slot1{
		background-color: #000000;
		max-width: 100%;
		margin: 0 auto;
		padding: 25 22vmax 70 22vmax; 
	}
	#projects .slot1 .image-wrapper{
		text-align: center;
		padding:25 0 0 0;
	}
	#projects .slot1 .image-wrapper img{
		display:inline-block;
		width: 25vh;
		padding: 0 50 0 50;
	}
	#projects .slot2{
		background-color: #007fba;
		max-width: 100%;
		margin: 0 auto;
		padding: 25 22vmax 70 22vmax; 
	}
	#projects .slot2 .iframe-wrapper{
		text-align: center;
		padding:25 0 0 0;
	}
	#projects .slot2 .iframe-wrapper iframe{
		width: 500;
		height: 300;
	}
	#projects .slot3{
		background-color: #000000;
		max-width: 100%;
		margin: 0 auto;
		padding: 25 22vmax 70 22vmax; 
	}
	#projects .slot3 .image-wrapper{
		text-align: center;
		padding:25 0 0 0;
	}
	#projects .slot3 .image-wrapper img{
		width: 500;
		height: 300;
	}
	#projects table{
		margin: 0 auto;
		text-align: center;
		padding-left: 25vw;
		padding-right: 25vw;
	}
	#projects p{
		text-align: center;
	}
	#projects img{
		
	}
	#projects .slot1 img{
		max-width: 50%;
	}
	#projects .slot3 img{
		max-width: 95%;
	}
	/********************Skills CSS*************************/
	#skills{
		max-width: 100%;
  		margin: 0 auto;
		padding:70 0 70 0;
	}
	#skills .title{
		background-color: #007fba;
		padding:70 0 20 0;
	}
	#skills .body{
		display: flex;
  		justify-content: center;
  		align-items: center;
		background-color: #007fba;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 70 0;
	}
	#skills .body .slot1{
		display: inline-block;
		padding: 0 50 0 50;
	}
	#skills .body .slot2{
		display: inline-block;
		padding: 0 50 0 50;
	}
	#skills .body .slot3{
		display: inline-block;
		padding: 0 50 0 50;
	}
	#skills .body .slot4{
		display: inline-block;
		padding: 0 50 0 50;
	}
	#skills .title{
		font-size: 50px;
		text-align: center;
	}
	#skills .subtitle{
		font-size: 32px;
		text-align: center;
	}
	#skills .text{
		font-size: 20px;
		text-align: center;
	}
	/********************Resume CSS*************************/
	#resume{
		padding: 70 0 0 0;
	}
	#resume .body{
		background-color: #000000;
		width: 100%;
		padding: 0 0 70 0;
		text-align: center;
	}
	#resume .title{
		font-size: 50px;
		padding: 0 0 50 0;
	}
	#resume a{
		font-size: 25px;
		background-color: #007fba;
		border-radius: 40px;
		text-decoration: none;
		padding: 10 25 10 25;
	}
	/********************Contact CSS*************************/
	#contact{
		padding-top: 70px;
	}
	#contact .body{
		background-color: #007fba;
		max-width: 100%;
		padding: 70 0 70 0;
	}
	#contact .title{
		text-align: center;
		font-size: 50px;
		padding: 0 0 20 0;
	}
	#contact .link-wrapper{
		margin: 0 auto;
		text-align: center;
		border-spacing: 150 0;
	}
	#contact .link-wrapper .link img{
		max-width:100;
		padding: 0 7vmax 0 7vmax;
	}
}
/***************************************************Mobile CSS*******************************************************/
@media screen and (orientation:portrait) {
	/********************Header CSS*************************/
	.header{
    	position: fixed;
		height:120px;
    	z-index:1000000;
    	color: white;
    	min-width: 100%;
    	background-color: #000000;
    	-webkit-transition: all ease-out .35s;
    	-moz-transition: all ease-out .35s;
    	-o-transition: all ease-out .35s;
		transition: all ease-out .35s;
		-webkit-backface-visibility: hidden;
		border-bottom: solid white 1px;
	}
	.header.active{
    	background-color: #000000;
    	-webkit-transition: all ease-out .35s;
    	-moz-transition: all ease-out .35s;
    	-o-transition: all ease-out .35s;
    	transition: all ease-out .35s;
	}
	.header .name_mobile{
		float:left;
    	color: white;
    	text-decoration: none;
    	font-size: 90px;
    	padding-left: 10px;
    	padding-top: 10px;
    	padding-bottom: 10px;
	}
	.header .name_mobile a{
		vertical-align: middle;
	}
	.header a:hover{
    	color: #dddddd;
    	text-decoration: none;
	}
	.header a{
    	color: white;
    	text-decoration: none;
	}
	.header .hamburger{
		float:right;
    	background:none;
    	color:#ffffffff;
    	border:0;
    	font-size:5em;    
    	cursor:pointer;
    	outline:none;
    	z-index:10000000000000;
		margin-right:20px;
		margin-top:10px;
	}
	.header .cross{
		float:right;
    	background:none;
    	color:#ffffffff;
    	border:0;
    	font-size:10em;
    	cursor:pointer;
		outline:none;
  		z-index:10000000000000;
		padding-left:30px;
		padding-right:20px;
	}
    .header .menu2{
        display: none;
    }
	.header .name{
		display: none;
	}
    .header .menu{
		z-index:10000000000; width:100%;  position:absolute; text-align:center; font-size:60px; top:120px;
	}
    .header .menu ul {
		margin: 0; padding: 0; list-style-type: none; list-style-image: none;
	}
    .header .menu li {
		display: block; padding:15px 0 15px 0; background:#000000; border-bottom:#dddddd 1px solid;
	}
    .header .menu li:hover{
		display: block; padding:15px 0 15px 0; background:#007fba; border-bottom:#dddddd 1px solid;
	}
    .header .menu ul li a {
		text-decoration:none;  margin: 0px; color:#ffffff;
	}
    .header .menu ul li a:hover {
		color: #dddddd; text-decoration:none;
	}
    .header .menu a{
		text-decoration:none; color:#666;
	}
    .header .menu a:hover{
		text-decoration:none; color:#666;
	}

	/********************Intro CSS*************************/
	#intro{
		height:100%;
        background-color: black;
		background-position: center center;
		background-repeat: no-repeat;
  		overflow: hidden;
    }
    #intro img{
		opacity: 0.35;
		min-height: 100%;
		min-width: 100%;
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		/* IE 5-7 */
		filter: alpha(opacity=0);
		/* modern browsers */
	}
    #intro .text{
        position: absolute;
        top: 45vh;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 100px;
        width: 100%;
        text-align: center;
    }
    #intro .subtext{
        position: absolute;
        padding-top: 150px;
        top: 45vh;
        left: 50%;
        transform: translate(-50%, -47%);
        font-size: 40px;
        width: 100%;
        text-align: center;  
    }
	/********************About Me CSS*************************/
	#about_me{
		padding-top: 120px;
	}
	#about_me .body{
		background-color: #007fba;
		height: auto;
	}
	#about_me .title{
		font-size: 100px;
		text-align: center;
		padding:120 0 0 0;
		background-color: #007fba;
	}
	#about_me .body .portrait{
		display: block;
		margin-left: auto;
  		margin-right: auto;
		width: 500px;
		padding:50 0 0 0;
	}
	#about_me .body  .text{
		text-align: center;
		font-size: 30px;
		padding:50 50 120 50;
	}
	/********************Projects CSS*************************/
	#projects{
		padding:120 0 0 0;
		width: 100%;
	}
	#projects .body{
		width: 100%;
		text-align: center;
	}
	#projects .body .title{
		text-align: center;
		font-size: 100px;
	}
	#projects .subtitle{
		text-align: center;
		font-size: 70px;
	}
	#projects .slot1{
		background-color: #000000;
		width: 100%;
		padding:25 0 70 0;
	}
	#projects .slot2{
		background-color: #007fba;
		width: 100%;
		padding:25 0 70 0;
	}
	#projects .slot3{
		background-color: #000000;
		width: 100%;
		padding:25 0 70 0;
	}
	#projects p{
		font-size: 20px;
		padding:25 50 25 50;
	}

	#projects .slot1 img{
		max-width: 40%;
	}
	#projects .slot2 iframe{
		width: 900px;
		height: 500px;
		padding: 30 0 30 0;
	}
	#projects .slot3 img{
		max-width: 85%;
		padding: 0 0 20 0;
	}
	/********************Skills CSS*************************/
	#skills{
		padding: 120 0 0 0;
	}
	#skills .body{
		background-color: #007fba;
		width: 100%;
		padding: 0 0 120 0;
		text-align: center;
	}
	#skills .title{
		font-size: 100px;
		text-align: center;
		background-color: #007fba;
		padding: 120 0 0 0;
	}
	#skills .subtitle{
		font-size: 60px;
		padding: 10 0 10 0;
	}
	#skills .text{
		font-size: 30px;
	}
	#skills .slot1{
		padding: 50 0 50 0;
	}
	#skills .slot2{
		padding: 50 0 0 0;
	}
	#skills .slot3{
		padding: 0 0 50 0;
	}
	#skills .slot4{
		padding: 40 0 50 0;
	}
	/********************Resume CSS*************************/
	#resume{
		padding-top: 120px;
	}
	#resume .body{
		background-color: #000000;
		width: 100%;
		padding: 120 0 120 0;
		text-align: center;
	}
	#resume .title{
		font-size: 100px;
		padding: 0 0 100 0;
	}
	#resume a{
		font-size: 50px;
		background-color: #007fba;
		border-radius: 50px;
		text-decoration: none;
		padding: 20 35 20 35;
	}
	/********************Contact CSS*************************/
	#contact{
		padding-top: 120px;
	}
	#contact .body{
		background-color: #007fba;
		width: 100%;
		padding: 70 0 70 0;
	}
	#contact .title{
		font-size: 100px;
		text-align: center;
		padding: 0 0 50 0;
	}
	#contact .link img{
		margin: 0 auto;
		width:200px;
		padding: 0 26 50 26;
	}
}